<!doctype html>
<html lang="en">
<head>
    {% include "static/meta.html" %}
    <title>Главная страница</title>
</head>
<body>
    {% include "static/header.html" %}
    <div class="content">
        <div class="articles">
            {% for article in content.0 %}
            <div class="article" id="{{ article.id }}">
                <div class="common">
                    <div class="author">{{ article.username }}</div>
                    <div class="timestamp">{{ article.timestamp }}</div>
                </div>
                <div class="text"><a href="/article/{{ article.id }}">{{ article.text|truncatechars:200 }}</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "static/footer.html" %}
</body>
</html>